* {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
}

.container {
    box-sizing: border-box;
    width: 1440px;
    margin: 0 auto;
    background-color: azure;
}
.head {

}

.header {
    margin: 15px 0;
}
.flex1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.nav_menu_item a {
    text-decoration: none;
    color: black;
}

.nav_menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    column-gap: 40px;
}

.nav_buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    column-gap: 24px;
}

.nav_buttons a {
    text-decoration: none;
    color: black;
}

.text1 {
    font-size: 16px;
    line-height: 24px;

}


.nav_btn {
    width: 163px;
    height: 54px;
    background: #0B2330;
    border: 1px solid #0B2330;
    box-sizing: border-box;
    border-radius: 4px;
    color: #FFFFFF;
    cursor: pointer;
}

.body_header {
    display: flex;
    column-gap: 257px;
    position: relative;
}

.body_header_text {
    width: 436px;
    margin-top: 237px;
    margin-left: 147px;
}


.body_header_text h1 {
    font-size: 60px;
    line-height: 64px;
    letter-spacing: 0.6px;
    color: #0B2330;
    margin-top: 0;
    margin-bottom: 32px;
}
.body_header_text p {
    font-size: 22px;
    line-height: 32px;
    color: #375361;
    margin-top: 0;
    margin-bottom: 38px;
}

.header_button_start {
    width: 163px;
    height: 54px;
    background: #F9C600;
    border: 1px solid #F9C600;
    box-sizing: border-box;
    border-radius: 4px;
    color: #0B2330;
    margin-right: 16px;
    cursor: pointer;
}

.header_button_talk {
    width: 156px;
    height: 54px;
    border: 1px solid #0B2330;
    box-sizing: border-box;
    border-radius: 4px;
    color: #000000;
    cursor: pointer;

}

.body_header_img {
    width: 600px;
    height: 886px;
    background: #F9C600;

}
.body_header_img img {
    display: block;
    position: absolute;
    bottom: 107px;
    right: 101px;
}


.body_header_title {
    margin-top: 189px;
    margin-left: 447px;
    width: 547px;

}
.body_header_title h2 {
    font-size: 42px;
    line-height: 48px;
    text-align: center;
    letter-spacing: 0.42px;
    color: #0B2330;

}

.body_icon {
    display: flex;
    column-gap: 81px;
    row-gap: 16px;
    flex-wrap: wrap;
    margin: 59px 173px 192px;

}

.body_bicycle {
    background: #51CEBC;
    border-radius: 10px;
    display: flex;
    margin: 0 32px;

}

.body_bicycle_text {
    width: 557px;
}

.body_bicycle_text_title {
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.34px;
    color: #0B2330;
    padding-top: 114px;
}

.body_bicycle_text_text {
    font-size: 22px;
    line-height: 32px;
    color: #0B2330;
}

.body_bicycle_img {
    padding: 56px 0;
}

.study_form {
    margin-top: 191px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ctudy_form_title {
    width: 711px;
    font-size: 34px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.34px;
    color: #0B2330;
    margin-bottom: 57px;
}

.study_form_img {
    margin-bottom: 113px;
}

.study_form_button {
    width: 163px;
    height: 54px;
    background: #F9C600;
    border: 1px solid #F9C600;
    box-sizing: border-box;
    border-radius: 4px;
    cursor: pointer;
}

.body_target {
    width: 1260px;
    height: 537px;
    background: #BD78F0;
    border-radius: 10px;
    margin: 160px 32px 136px 148px;
    display: flex;
    position: relative;
    flex-direction: row-reverse;
}

.body_target_text_title {
    width: 485px;
    font-size: 42px;
    line-height: 48px;
    letter-spacing: 0.42px;
    color: #0B2330;
    margin-top: 103px;
    margin-bottom: 39px;
}

.body_target_text_text {
    width: 550px;
    font-size: 17px;
    line-height: 28px;
    color: #0B2330;
    margin: 0;
    padding-right: 128px;
}

.body_target_img img {
    position: absolute;
    top: 64px;
    left: -115px;

}

.body_solution {
    margin-left: 148px;
    margin-bottom: 219px;
}

.body_solution_head {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    color: #6A7981;
}

.body_solution_title {
    width: 593px;
    font-size: 42px;
    line-height: 48px;
    letter-spacing: 0.42px;
    color: #0B2330;
    margin-top: 13px;
    margin-bottom: 26px;
}

.body_solution_text {
    font-size: 22px;
    line-height: 32px;
    color: #375361;
}

.body_context {
    display: flex;
    justify-content: space-between;
    align-items: start;
}
.body_context_text {
    margin-left: 146px;
}
.body_context_text_icon {
    margin-bottom: 23px;
}
.body_context_text_title {
    margin-bottom: 29px;
}
.txt_title {
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.34px;
    color: #0B2330;
}

.txt_text {
    font-size: 17px;
    line-height: 28px;
    color: #375361;
}

.body_btn {
    width: 144px;
    height: 54px;
    border: 1px solid #0B2330;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    cursor: pointer;
}

.body_context_text_text {
    width: 484px;
    margin-bottom: 64px;
}

.body_context_img img {
    position: relative;
    top: -16px;
}
.body_context_img {
    margin-bottom: 121px;
    padding-right: 32px;
}

.body_video {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-left: 146px;
}

.body_video_text_icon {
    margin-bottom: 23px;
}

.body_video_text_title {
    margin-bottom: 29px;
}

.body_video_text_text {
    width: 484px;
    margin-bottom: 64px;
}

.body_video_img {
    margin-bottom: 97px;
    padding-right: 32px;
}
.body_video_img img {
    position: relative;
    top: -16px;
}
.body_testing_img img {
    position: relative;
    top: -16px;
}
.body_testing_img {
    padding-right: 32px;
}

.body_testing_button {
    margin-left: 148px;
}

.text_btn {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    cursor: pointer;
}

.bor {
    border-radius: 4px;
}

.col {
    background: #E7EAEB;
}

.body_testing_buttons1 {
    width: 228px;
    height: 23px;
    margin-right: 8px;
}

.body_testing_buttons2 {
    width: 147px;
    height: 23px;
    margin-right: 8px;
}

.body_testing_buttons3 {
    width: 152px;
    height: 23px;
    color: black;
    background: #FE9F28;
}

.body_context_button {
    margin-bottom: 18px;
}
.body_feature {
    block-size: border-box;
    background: #F2EDE7;
    height: 960px;
    margin-top: 152px;
    padding-left: 122px;
}
.body_feature_body {
    display: flex;
}

.body_feature_head_p {
    padding-top: 96px;
    margin-bottom: 10px;

}

.text_uppercase {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    color: #375361;
}

.body_feature_head_title {
    margin-top: 0;
    margin-bottom: 140px;
    width: 1064px;
    height: 128px;
    font-size: 60px;
    line-height: 64px;
    letter-spacing: 0.6px;
    color: #0B2330;
}

.body_feature_body_img {
    margin-right: 180px;
}

.body_integration {
    margin-top: 184px;
    margin-left: 148px;
    display: flex;
}


.body_integration_text_title {
    margin-top: 15px;
    margin-bottom: 37px;
    width: 669px;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.34px;
    color: #0B2330;
}

.body_integration_text_text {
    margin-bottom: 36px;
    width: 667px;
}

.body_integration_text_p {
    margin-bottom: 0;
}

.body_integration_text_button {
    width: 208px;
    height: 54px;
    font-size: 16px;
    line-height: 24px;
    color: #0B2330;
    background: #F9C600;
    border: 1px solid #F9C600;
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 4px;
}

.body_integration_img {
    margin-left: 183px;
}

.body_case {
    display: flex;
    margin-top: 240px;
}

.body_case_left_title {
    width: 314px;
    padding-left: 116px;
    margin-top: 17px;
    font-size: 24px;
    line-height: 32px;
    color: #0B2330;
}

.body_case_left_text {
    width: 325px;
    padding-left: 116px;
    margin-bottom: 36px;
}

.body_case_left {
    height: 584px;
    width: 582px;
    background: #F2EDE7;
    border-radius: 10px 0 0 10px;
    margin-left: 32px;
}

.body_case_left_p {
    padding-top: 80px;
    padding-left: 116px;
    margin: 0;
}

.body_case_left button {
    margin-left: 116px;
}

.footer_up_title {
    font-size: 42px;
    line-height: 48px;
    text-align: center;
    letter-spacing: 0.42px;
    color: #FFFFFF;
    margin-bottom: 0;
    margin-top: 0;
}

.footer_up {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 53px;
    margin-top: 46px;
    background: #0B2330;
    height: 423px;
    width: 1440px;
}

.footer_up_text {
    font-size: 17px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    height: 56px;
    width: 642px;
    margin-top: 31px;
}
.footer_up button {
    margin-top: 36px;
}

.border {
    margin: 0 32px;
    width: 1376px;
    height: 2px;
    background-color: #7772b0;
}

.footer_down {
    background: #0B2330;
    height: 678px;
    width: 1440px;
}

.text_li {
    list-style: none;
    font-size: 16px;
    line-height: 24px;
    color: #94A0A4;
    margin-bottom: 14px;
    cursor: pointer;
}

.color_li {
    color: #F9C600;
}

.footer_down_information {
    padding-top: 80px;
    display: flex;
    justify-content: space-between;
    padding-left: 32px;
    padding-right: 332px;
}

.footer_end {
    margin-top: 69px;
    margin-left: 268px;
    margin-right: 150px;
    display: flex;
    justify-content: space-between
}

.footer_end_inform {
    font-size: 14px;
    line-height: 20px;
    color: #94A0A4;
}

.footer_end_logo {
    display: flex;
    column-gap: 24px;
}